html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* The navigation bar */
.links {
    text-align: end;
    margin-right: 20px;
}
#navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-bottom: auto;
  }
  /* navbar links */
  a:link {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: purple;
}
a:visited {
    text-decoration: none;
    color: gray;
}
/*navbar link style*/
li {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
}
/*welcome section*/
#welcome-section {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#welcome-section>p {
    font-size: 3rem;
    font-family: sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 6rem;
}
.projects-header {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
h2 {
    font-size: 3rem;
    text-align: center;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.contact-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 40vh;
        padding: 0 2rem;
        background: black
}
.contact-section-header {
    color: aliceblue;
}

 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}
.contact-links {
    color: black;
}
@media (max-width: 61.25em)
html {
    font-size: 58%;
}
@media (max-width: 75em)
html {
    font-size: 60%;
}


